<div class="row">
	<div class="col-lg-8">
		<h1>Your accounts</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Current Balance</th>
				</tr>
			</thead>
			<tbody>
				<% @accounts.each do |a| %>
				<tr>
					<td><%= link_to "#{a.name}", show_account_path(a) %></td>
					<td><%= display(a.current_balance) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>